.top-thing {
    background-color: #f8f9fa;
}

.padding {
    padding: 30px;
}

.padding-top {
    padding-top: 20px;
}

.submission-style {
    display: flex;
    flex-wrap: wrap;
}

.card-style {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.alert-style {
    display: flex;
    justify-content: center;
}

.button {
    display: block;
    width: 100%;
}